
# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
tfplan*
terraform.tfvars
crash.log
outputs.txt

# Ansible
*.retry
ansible.cfg

# AWS
*.pem
*.ppk

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
*secret*
*credentials*

# Keys
*.pem
*.pub   
keys/
